
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    box-sizing:border-box;
}

html , body {
    margin: 0;
    padding:0;
    height: 100%;

}

body {
    font-size: calc(16px + 8 * ((100vw - 768px) / (1600 - 768)))!important; 
    font-family: 'Poppins'!important;
}

#root{
    height:100%;

}

h1,h2,h3{
    color: #5e5873;
    margin:0;
    padding: 0;
}

label {
    font-size: 0.626em;
    font-weight: 500;
}

p{
    margin: 0 !important;
    padding:0 !important;
    font-size: 0.58em;
    color:#888888;
}

ul , li {
    list-style-type: none;
    margin:0!important;
    padding: 0!important;
}

a{
    text-decoration: none!important;
    color: transparent;
    font-size: 0.8em;
}

input {
    border: 1px solid #dee2eb;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 0.7em!important;
}

.d-flex {
    display: flex;
}

.f-col {
    flex-direction: column;
}
.f-row {
    flex-direction: row;
}


